[user]
    email = dean2@kowatsch.de
    name = deanqx
	signingkey = /home/dean/.ssh/id_ed25519_dean_home_linux.pub
[push]
	autoSetupRemote = true
[credential]
	helper = cache
[init]
	defaultBranch = main
[safe]
	directory = /home/dean/server0/root/registry
[core]
	editor = nvim
[rebase]
	autoStash = true
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /home/dean/.local/bin/git-ssh-sign-wrapper.sh
