/.config/*
!/.config/alacritty
!/.config/foot
!/.config/dunst
!/.config/ly
!/.config/nautilus
!/.config/nvim
!/.config/tmux
/.config/tmux/plugins

# Xorg
!/.config/i3
!/.config/picom
!/.config/polybar
!/.config/rofi

# Wayland
!/.config/sway
!/.config/waybar

# kicad
!/.config/kicad
!/.config/kicad/9.0
/.config/kicad/9.0/*
!/.config/kicad/9.0/user.hotkeys
!/.config/kicad/9.0/3d_viewer.json
!/.config/kicad/9.0/cvpcb.json
!/.config/kicad/9.0/eeschema.json
!/.config/kicad/9.0/fpedit.json
!/.config/kicad/9.0/gerbview.json
!/.config/kicad/9.0/kicad.json
!/.config/kicad/9.0/kicad_common.json
!/.config/kicad/9.0/pcbnew.json
!/.config/kicad/9.0/pl_editor.json
!/.config/kicad/9.0/symbol_editor.json

# GIMP
!/.config/GIMP
/.config/GIMP/**
!/.config/GIMP/*
!/.config/GIMP/*/shortcutsrc
# currently disabled because it may store sensitive data
#!/.config/GIMP/*/sessionrc
# !/.config/GIMP/*/gimprc
#!/.config/GIMP/*/themes/

# Razer RGB
!/.config/OpenRGB
/.config/OpenRGB/logs
!/.config/openrazer
