/.config/*
!/.config/alacritty
!/.config/dunst
!/.config/ly
!/.config/nautilus
!/.config/nvim
!/.config/tmux
/.config/tmux/plugins

# Xorg
!/.config/i3
!/.config/picom
!/.config/polybar
!/.config/rofi

# Wayland
!/.config/sway
!/.config/waybar

# GIMP
!/.config/GIMP
/.config/GIMP/**
!/.config/GIMP/*
!/.config/GIMP/*/shortcutsrc
# currently disabled because it may store sensitive data
#!/.config/GIMP/*/sessionrc
# !/.config/GIMP/*/gimprc
#!/.config/GIMP/*/themes/

# Razer RGB
!/.config/OpenRGB
/.config/OpenRGB/logs
!/.config/openrazer
