/.config/*
!/.config/dunst
!/.config/foot
!/.config/fuzzel
!/.config/ly
!/.config/nvim
!/.config/sway
!/.config/tmux
!/.config/waybar
/.config/tmux/plugins

# Xorg
!/.config/i3
!/.config/picom
!/.config/polybar
!/.config/rofi

# kicad
!/.config/kicad
!/.config/kicad/9.0
/.config/kicad/9.0/*
!/.config/kicad/9.0/user.hotkeys

# GIMP
!/.config/GIMP
/.config/GIMP/**
!/.config/GIMP/3.2
!/.config/GIMP/*/shortcutsrc
!/.config/GIMP/*/sessionrc

# Razer RGB
!/.config/OpenRGB
/.config/OpenRGB/logs
!/.config/openrazer
