[user]
    email = 110404616+deanqx@users.noreply.github.com
    name = deanqx
[push]
	autoSetupRemote = true
[credential]
	helper = cache
[init]
	defaultBranch = main
[safe]
	directory = /home/dean/server0/root/registry
