xrandr --output DP-4 --primary
xrandr --output DP-4 --right-of DP-0
polychromatic-cli -e Default

setxkbmap -layout us -variant altgr-intl
setxkbmap -option caps:escape
xset r rate 390 35

xrandr --auto

# Trying to fix not waking up bug
xset -dpms
xset s off
