* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
}

/* --- Left Modules --- */
#workspaces {
  background-color: #1a1b26;
  margin: 5px 0px;
  padding: 2px;
  margin-left: 7px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#workspaces button:hover {
  background: rgb(41, 42, 53);
  /* Reference bright hover color */
  color: #c6d0f5;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.focused {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

/* --- Center Module --- */
#clock {
  color: #99d1db;
  background-color: #1a1b26;
  padding: 0 0.7rem;
  margin: 5px 5px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(153, 209, 219, 0.15);
  min-width: 0;
  border: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* --- Right Modules --- */
#wireplumber,
#network,
#memory,
#backlight,
#cpu,
#battery {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  color: #c6d0f5;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* speaker volume is left most element */
#wireplumber {
  border-radius: 5px 0 0 5px;
}

#cpu:hover,
#wireplumber:hover,
#memory:hover,
#battery:hover {
  background-color: rgb(41, 42, 53);
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}

#network.disconnected {
  color: #e78284;
}

#bluetooth {
  color: #888888;
}

#bluetooth.on {
  color: #2196f3;
}

#bluetooth.connected {
  color: #99d1db;
}

#battery {
  color: #99d1db;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#battery.critical:not(.charging) {
  color: #d45d5f;
}

tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
